# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.vercel/
.vercel_build_output/

# Firebase
.firebase/
firebase-debug.log

# Logs
logs
*.log
debug.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Build output
dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
env/
ENV/
*.egg-info/
*.egg

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*.local
.env.local
.env.development.local
.env.production.local
.env.test.local
